/* Barra de Navegación */
.menu-overlay {
  height: 100px;
  background-color: #899eb3; /* Color oscuro según la paleta de Bootstrap */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-items {
  display: flex;
}

.menu-item {
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #f8c11e; /* Amarillo de Bootstrap */
}

.user-info {
  margin-left: auto;
  color: #070707;
}

/* Carrusel de Películas */
.movie-carousel {
  margin-top: 80px;
  width: 45%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #070707;
  
}
.carousel-caption {
  color: #f8f7f7; /* Color negro para el texto dentro de Carousel.Caption */
  background-color: #0e0e0e;
}



.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  z-index: 1;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev:hover,
.slick-next:hover {
  color: #f8c11e;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #f8c11e;
}

/* Sección de Cartelera */
.cartelera-container {
  padding: 400px;
  background-color: #0b0b0b; /* Gris claro según la paleta de Bootstrap */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cartelera-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #899eb3; /* Negro según la paleta de Bootstrap */
  margin-left: auto;
  margin-right: auto;
}

.cartelera-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-info {
  padding: 15px;
  text-align: left;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Añadir clases de Bootstrap a elementos específicos */
.menu-overlay,
.carousel,
.cartelera-container {
  margin-bottom: 0; /* Eliminar el espacio por defecto que añade Bootstrap al final del cuerpo */
}
  